<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>artistId</key>
	<integer>389781157</integer>
	<key>artistName</key>
	<string>NFL Enterprises LLC</string>
	<key>bundleDisplayName</key>
	<string>NFL Network</string>
	<key>bundleShortVersionString</key>
	<string>12.3.5</string>
	<key>bundleVersion</key>
	<string>12920</string>
	<key>copyright</key>
	<string>© 2021 NFL Enterprises LLC</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Sports</string>
	<key>genreId</key>
	<integer>6004</integer>
	<key>hasOrEverHasHadIAP</key>
	<false/>
	<key>itemId</key>
	<integer>568543007</integer>
	<key>itemName</key>
	<string>NFL Network</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>NFL Enterprises LLC</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.GAMBLING_CONTESTS , Advisory.NO.TRUE_GAMBLING and Advisory.NO.UNRESTRICTED_WEB_ACCESS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2012-11-12T19:38:36Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is4-ssl.mzstatic.com/image/thumb/Purple116/v4/73/50/c0/7350c079-a57e-7b79-4d06-477306fd4d01/AppIcon-release-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.nfl.nflno</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>846894075</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>11399032</integer>
		<integer>12869270</integer>
		<integer>15877014</integer>
		<integer>16030251</integer>
		<integer>58523178</integer>
		<integer>540342746</integer>
		<integer>702852972</integer>
		<integer>749132658</integer>
		<integer>813250608</integer>
		<integer>819971590</integer>
		<integer>823821437</integer>
		<integer>829935308</integer>
		<integer>831069701</integer>
		<integer>832080515</integer>
		<integer>832137385</integer>
		<integer>832313616</integer>
		<integer>832575984</integer>
		<integer>832729822</integer>
		<integer>832830781</integer>
		<integer>833406943</integer>
		<integer>834665697</integer>
		<integer>834802219</integer>
		<integer>835785536</integer>
		<integer>836846454</integer>
		<integer>838544671</integer>
		<integer>838573790</integer>
		<integer>838650929</integer>
		<integer>839337384</integer>
		<integer>839563836</integer>
		<integer>839765414</integer>
		<integer>839827246</integer>
		<integer>841092826</integer>
		<integer>842962129</integer>
		<integer>843809604</integer>
		<integer>844432047</integer>
		<integer>844584416</integer>
		<integer>845029767</integer>
		<integer>846894075</integer>
	</array>
	<key>userName</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>vendorId</key>
	<integer>428658</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
