<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Hudl uses Bluetooth to discover nearby Chromecast devices.</string>
    <key>DTPlatformVersion</key>
    <string>15.2</string>
    <key>DTSDKBuild</key>
    <string>19C51</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>This allows you to record video and take photos on your device, which you can then upload and share in Hudl.</string>
    <key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_PERSONALIZATION_SIGNALS</key>
    <string>NO</string>
    <key>GOOGLE_ANALYTICS_IDFV_COLLECTION_ENABLED</key>
    <string>NO</string>
    <key>CFBundleDisplayName</key>
    <string>Hudl</string>
    <key>UISupportedInterfaceOrientations~iphone</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTXcodeBuild</key>
    <string>13C100</string>
    <key>CFBundleIdentifier</key>
    <string>com.hudl.modi</string>
    <key>Hudl Support Email</key>
    <string>support@hudl.com</string>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>FacebookDisplayName</key>
    <string>Hudl</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>org-appextension-feature-password-management</string>
      <string>fbapi</string>
      <string>fb-messenger-api</string>
      <string>fbauth2</string>
      <string>fbshareextension</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSUserTrackingUsageDescription</key>
    <string>This allows Hudl to provide you with a better ads experience.</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Hudl needs access to your device’s bluetooth in order to properly use the Hudl Remote</string>
    <key>MinimumOSVersion</key>
    <string>12.0</string>
    <key>Hudl Support Phone</key>
    <string>1-402-817-0063</string>
    <key>CFBundleName</key>
    <string>Hudl</string>
    <key>CFBundleShortVersionString</key>
    <string>5.131</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>FuturaNDforNike365Cn-XBd.ttf</string>
      <string>HelveticaNeue.ttc</string>
      <string>TradeGothicLT.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>Hudl</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>Hudl URI</key>
    <string>https://www.hudl.com/</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>GOOGLE_ANALYTICS_REGISTRATION_WITH_AD_NETWORK_ENABLED</key>
    <string>NO</string>
    <key>Configuration</key>
    <string>Release</string>
    <key>FacebookAppID</key>
    <string>174514396376081</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>DTAppStoreToolsBuild</key>
    <string>13F100</string>
    <key>BuildMachineOSBuild</key>
    <string>20E241</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This allows you to capture audio when recording video on your device.</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <true/>
    </dict>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleVersion</key>
    <string>5.131.126</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>NSFaceIDUsageDescription</key>
    <string>This allows you to log in using your face.</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.hudl.modi</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>hudl</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.hudl.modi</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb174514396376081</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.hudl.modi</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>twitterkit-HUqTyK2IBYTfCSGFXOKSqCvHk</string>
        </array>
      </dict>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos15.2</string>
    <key>Api Path</key>
    <string>api/v2/</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>DTPlatformBuild</key>
    <string>19C51</string>
    <key>V3 Api Path</key>
    <string>api/v3/</string>
    <key>DTXcode</key>
    <string>1321</string>
    <key>Messaging Api Path</key>
    <string>api/v4/</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Tapping OK just means you can add photos and download videos from Hudl</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
  </dict>
</plist>
