<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
		<key>armv7</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
		<key>armv7</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>artistId</key>
	<integer>658886503</integer>
	<key>artistName</key>
	<string>Discord, Inc.</string>
	<key>bundleDisplayName</key>
	<string>Discord</string>
	<key>bundleShortVersionString</key>
	<string>141.0</string>
	<key>bundleVersion</key>
	<string>34534</string>
	<key>copyright</key>
	<string>© 2022 Discord</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Social Networking</string>
	<key>genreId</key>
	<integer>6005</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>itemId</key>
	<integer>985746746</integer>
	<key>itemName</key>
	<string>Discord - Chat, Talk &amp; Hangout</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Discord, Inc.</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Infrequent/Mild Sexual Content and Nudity , Advisory.NO.TRUE_GAMBLING , Infrequent/Mild Simulated Gambling , Infrequent/Mild Alcohol, Tobacco, or Drug Use or References , Infrequent/Mild Realistic Violence , Frequent/Intense Mature/Suggestive Themes , Advisory.NO.UNRESTRICTED_WEB_ACCESS , Infrequent/Mild Profanity or Crude Humor , Infrequent/Mild Cartoon or Fantasy Violence , Infrequent/Mild Medical/Treatment Information and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2015-05-21T07:08:40Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is2-ssl.mzstatic.com/image/thumb/Purple112/v4/f1/c6/77/f1c6770e-2a57-8737-740d-138ced96c8ab/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.hammerandchisel.discord</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>851692927</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>812213284</integer>
		<integer>812484519</integer>
		<integer>812613931</integer>
		<integer>812727445</integer>
		<integer>813324598</integer>
		<integer>814554379</integer>
		<integer>814759779</integer>
		<integer>814761925</integer>
		<integer>814768503</integer>
		<integer>814965748</integer>
		<integer>814968525</integer>
		<integer>815126692</integer>
		<integer>816310704</integer>
		<integer>816811200</integer>
		<integer>817260568</integer>
		<integer>817313375</integer>
		<integer>817397149</integer>
		<integer>817471991</integer>
		<integer>818199140</integer>
		<integer>818572467</integer>
		<integer>818658438</integer>
		<integer>818853626</integer>
		<integer>819003877</integer>
		<integer>819211954</integer>
		<integer>819244586</integer>
		<integer>819382327</integer>
		<integer>819989352</integer>
		<integer>820226972</integer>
		<integer>820278381</integer>
		<integer>820899548</integer>
		<integer>821266312</integer>
		<integer>821863896</integer>
		<integer>821940190</integer>
		<integer>822136912</integer>
		<integer>822349073</integer>
		<integer>822589641</integer>
		<integer>823361303</integer>
		<integer>823721750</integer>
		<integer>823891476</integer>
		<integer>824163620</integer>
		<integer>824181934</integer>
		<integer>824216969</integer>
		<integer>824232645</integer>
		<integer>824394884</integer>
		<integer>824458046</integer>
		<integer>825122753</integer>
		<integer>825229699</integer>
		<integer>825536265</integer>
		<integer>825547976</integer>
		<integer>825631232</integer>
		<integer>825833278</integer>
		<integer>826024393</integer>
		<integer>826053685</integer>
		<integer>826275397</integer>
		<integer>826414434</integer>
		<integer>826473613</integer>
		<integer>826520535</integer>
		<integer>826541970</integer>
		<integer>826621653</integer>
		<integer>826861583</integer>
		<integer>827254086</integer>
		<integer>827286382</integer>
		<integer>827785922</integer>
		<integer>827865363</integer>
		<integer>828219020</integer>
		<integer>828324168</integer>
		<integer>828683975</integer>
		<integer>828704433</integer>
		<integer>829000225</integer>
		<integer>829136839</integer>
		<integer>829556006</integer>
		<integer>829716653</integer>
		<integer>830011720</integer>
		<integer>830119199</integer>
		<integer>830149178</integer>
		<integer>830419743</integer>
		<integer>830607213</integer>
		<integer>830674734</integer>
		<integer>831048817</integer>
		<integer>831180851</integer>
		<integer>831409944</integer>
		<integer>831633439</integer>
		<integer>831741997</integer>
		<integer>831877310</integer>
		<integer>831999984</integer>
		<integer>832020478</integer>
		<integer>832135502</integer>
		<integer>832189252</integer>
		<integer>832246449</integer>
		<integer>832317437</integer>
		<integer>832332644</integer>
		<integer>832715586</integer>
		<integer>832798698</integer>
		<integer>832891308</integer>
		<integer>833100664</integer>
		<integer>833186501</integer>
		<integer>833582748</integer>
		<integer>833788170</integer>
		<integer>834037598</integer>
		<integer>834579637</integer>
		<integer>834665919</integer>
		<integer>834916951</integer>
		<integer>834997346</integer>
		<integer>835109805</integer>
		<integer>835150982</integer>
		<integer>835202060</integer>
		<integer>835304852</integer>
		<integer>835335660</integer>
		<integer>835498900</integer>
		<integer>835594790</integer>
		<integer>835672541</integer>
		<integer>835787821</integer>
		<integer>835876880</integer>
		<integer>835981052</integer>
		<integer>836093637</integer>
		<integer>836077894</integer>
		<integer>836093638</integer>
		<integer>836201192</integer>
		<integer>836300645</integer>
		<integer>836398064</integer>
		<integer>836483399</integer>
		<integer>836690839</integer>
		<integer>836800083</integer>
		<integer>836908569</integer>
		<integer>837006099</integer>
		<integer>837185812</integer>
		<integer>837278994</integer>
		<integer>837376543</integer>
		<integer>837433351</integer>
		<integer>837456760</integer>
		<integer>837565086</integer>
		<integer>837659898</integer>
		<integer>837759004</integer>
		<integer>837860200</integer>
		<integer>837894860</integer>
		<integer>837913722</integer>
		<integer>837968265</integer>
		<integer>838018283</integer>
		<integer>838062654</integer>
		<integer>838150353</integer>
		<integer>838261928</integer>
		<integer>838359136</integer>
		<integer>838461665</integer>
		<integer>838568572</integer>
		<integer>839058059</integer>
		<integer>839246739</integer>
		<integer>839380822</integer>
		<integer>839512409</integer>
		<integer>839619980</integer>
		<integer>839735354</integer>
		<integer>839964124</integer>
		<integer>840064016</integer>
		<integer>840168606</integer>
		<integer>840234320</integer>
		<integer>840275347</integer>
		<integer>840381231</integer>
		<integer>840474218</integer>
		<integer>840560662</integer>
		<integer>840666064</integer>
		<integer>840770529</integer>
		<integer>841125270</integer>
		<integer>841297870</integer>
		<integer>841501128</integer>
		<integer>841799624</integer>
		<integer>842033212</integer>
		<integer>842103859</integer>
		<integer>842223318</integer>
		<integer>842328159</integer>
		<integer>842429031</integer>
		<integer>842527752</integer>
		<integer>842631500</integer>
		<integer>842713180</integer>
		<integer>842879256</integer>
		<integer>842915132</integer>
		<integer>843079352</integer>
		<integer>843249353</integer>
		<integer>843343240</integer>
		<integer>843483967</integer>
		<integer>843583012</integer>
		<integer>843713142</integer>
		<integer>843748771</integer>
		<integer>843764890</integer>
		<integer>843834503</integer>
		<integer>843865799</integer>
		<integer>843951157</integer>
		<integer>844007052</integer>
		<integer>844177696</integer>
		<integer>844307806</integer>
		<integer>844433627</integer>
		<integer>844566569</integer>
		<integer>844721958</integer>
		<integer>844874521</integer>
		<integer>845030718</integer>
		<integer>845177151</integer>
		<integer>845315852</integer>
		<integer>845457252</integer>
		<integer>845639290</integer>
		<integer>845737386</integer>
		<integer>845885357</integer>
		<integer>846473402</integer>
		<integer>846631738</integer>
		<integer>846791293</integer>
		<integer>847020873</integer>
		<integer>847140534</integer>
		<integer>847272028</integer>
		<integer>847399115</integer>
		<integer>847528785</integer>
		<integer>847578562</integer>
		<integer>847669985</integer>
		<integer>847764114</integer>
		<integer>847869799</integer>
		<integer>847943296</integer>
		<integer>848079724</integer>
		<integer>848122524</integer>
		<integer>848229079</integer>
		<integer>848526779</integer>
		<integer>848710582</integer>
		<integer>848868573</integer>
		<integer>849068262</integer>
		<integer>849308990</integer>
		<integer>849471366</integer>
		<integer>849534945</integer>
		<integer>849783166</integer>
		<integer>850026513</integer>
		<integer>850254827</integer>
		<integer>850422831</integer>
		<integer>850567178</integer>
		<integer>850638600</integer>
		<integer>850715769</integer>
		<integer>850874410</integer>
		<integer>851052776</integer>
		<integer>851213437</integer>
		<integer>851375569</integer>
		<integer>851533933</integer>
		<integer>851692927</integer>
	</array>
	<key>userName</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>vendorId</key>
	<integer>1363693</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
