<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>artistId</key>
	<integer>1345946428</integer>
	<key>artistName</key>
	<string>Social Impact Inc.</string>
	<key>bundleDisplayName</key>
	<string>Taimi</string>
	<key>bundleShortVersionString</key>
	<string>5.1.190</string>
	<key>bundleVersion</key>
	<string>350</string>
	<key>copyright</key>
	<string>© Taimi 2017-2022</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Social Networking</string>
	<key>genreId</key>
	<integer>6005</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>itemId</key>
	<integer>1282966364</integer>
	<key>itemName</key>
	<string>Taimi: LGBTQ+ Dating &amp; Chat</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Social Impact Inc.</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Frequent/Intense Sexual Content or Nudity , Advisory.NO.GAMBLING_CONTESTS , Frequent/Intense Mature/Suggestive Themes , Infrequent/Mild Medical/Treatment Information , Advisory.NO.UNRESTRICTED_WEB_ACCESS , Infrequent/Mild Alcohol, Tobacco, or Drug Use or References and Advisory.NO.TRUE_GAMBLING</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2017-09-18T08:46:48Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is3-ssl.mzstatic.com/image/thumb/Purple112/v4/d5/e6/d9/d5e6d9fc-86c1-b6aa-4c09-c0439c5807e4/AppIcon-0-0-1x_U007emarketing-0-0-0-8-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.taimi.ios</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>851685488</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>823673463</integer>
		<integer>823773275</integer>
		<integer>824016863</integer>
		<integer>824103224</integer>
		<integer>824188716</integer>
		<integer>824280342</integer>
		<integer>824302316</integer>
		<integer>824369772</integer>
		<integer>824441569</integer>
		<integer>825001298</integer>
		<integer>825227704</integer>
		<integer>825251489</integer>
		<integer>825352321</integer>
		<integer>825404359</integer>
		<integer>825717413</integer>
		<integer>825792624</integer>
		<integer>825876950</integer>
		<integer>825960372</integer>
		<integer>825995146</integer>
		<integer>826178592</integer>
		<integer>826261706</integer>
		<integer>826379638</integer>
		<integer>826417854</integer>
		<integer>826502003</integer>
		<integer>826517763</integer>
		<integer>826592788</integer>
		<integer>826630004</integer>
		<integer>826684472</integer>
		<integer>826721889</integer>
		<integer>826744373</integer>
		<integer>826856849</integer>
		<integer>826931383</integer>
		<integer>827285667</integer>
		<integer>827479042</integer>
		<integer>827489155</integer>
		<integer>827519645</integer>
		<integer>827546013</integer>
		<integer>827679505</integer>
		<integer>827859788</integer>
		<integer>827878188</integer>
		<integer>828036696</integer>
		<integer>828179139</integer>
		<integer>828291064</integer>
		<integer>828467198</integer>
		<integer>828688627</integer>
		<integer>828766249</integer>
		<integer>828844863</integer>
		<integer>828869388</integer>
		<integer>828998329</integer>
		<integer>829090985</integer>
		<integer>829164179</integer>
		<integer>829242087</integer>
		<integer>829379004</integer>
		<integer>829489504</integer>
		<integer>829694430</integer>
		<integer>829732264</integer>
		<integer>829749472</integer>
		<integer>829924510</integer>
		<integer>829951721</integer>
		<integer>830036783</integer>
		<integer>830174897</integer>
		<integer>830191861</integer>
		<integer>830233685</integer>
		<integer>830334007</integer>
		<integer>830425455</integer>
		<integer>830442134</integer>
		<integer>830739801</integer>
		<integer>831047137</integer>
		<integer>831067088</integer>
		<integer>831125800</integer>
		<integer>831210818</integer>
		<integer>831440892</integer>
		<integer>831563270</integer>
		<integer>831600640</integer>
		<integer>831736868</integer>
		<integer>831823199</integer>
		<integer>831869424</integer>
		<integer>831898618</integer>
		<integer>831959737</integer>
		<integer>832200527</integer>
		<integer>832242895</integer>
		<integer>832282334</integer>
		<integer>832368679</integer>
		<integer>832395914</integer>
		<integer>832572533</integer>
		<integer>832742455</integer>
		<integer>832805378</integer>
		<integer>833002046</integer>
		<integer>833040021</integer>
		<integer>833284085</integer>
		<integer>833537783</integer>
		<integer>833631322</integer>
		<integer>833854866</integer>
		<integer>833934568</integer>
		<integer>834101366</integer>
		<integer>834306201</integer>
		<integer>834445922</integer>
		<integer>834499428</integer>
		<integer>834553004</integer>
		<integer>834877833</integer>
		<integer>835259567</integer>
		<integer>835328582</integer>
		<integer>835400021</integer>
		<integer>835539084</integer>
		<integer>835784741</integer>
		<integer>835941552</integer>
		<integer>836073582</integer>
		<integer>836240394</integer>
		<integer>836474519</integer>
		<integer>836755805</integer>
		<integer>836838447</integer>
		<integer>837040778</integer>
		<integer>837200692</integer>
		<integer>837393289</integer>
		<integer>837504666</integer>
		<integer>837599426</integer>
		<integer>837670788</integer>
		<integer>837703022</integer>
		<integer>837731936</integer>
		<integer>837799314</integer>
		<integer>837891406</integer>
		<integer>837960825</integer>
		<integer>838083096</integer>
		<integer>838224478</integer>
		<integer>838246319</integer>
		<integer>838424153</integer>
		<integer>839239411</integer>
		<integer>839314921</integer>
		<integer>839404899</integer>
		<integer>839575287</integer>
		<integer>839701445</integer>
		<integer>839730266</integer>
		<integer>839825991</integer>
		<integer>840223932</integer>
		<integer>840442116</integer>
		<integer>840516221</integer>
		<integer>840622675</integer>
		<integer>840652739</integer>
		<integer>840831328</integer>
		<integer>840865831</integer>
		<integer>841120627</integer>
		<integer>841194550</integer>
		<integer>841272187</integer>
		<integer>841415815</integer>
		<integer>841607694</integer>
		<integer>842021788</integer>
		<integer>842077672</integer>
		<integer>842185646</integer>
		<integer>842219617</integer>
		<integer>842389009</integer>
		<integer>842607503</integer>
		<integer>842673217</integer>
		<integer>842685849</integer>
		<integer>843003718</integer>
		<integer>843024896</integer>
		<integer>843219632</integer>
		<integer>843277129</integer>
		<integer>843395525</integer>
		<integer>843693010</integer>
		<integer>843980791</integer>
		<integer>844171574</integer>
		<integer>844304523</integer>
		<integer>844335324</integer>
		<integer>844439120</integer>
		<integer>844709708</integer>
		<integer>845119318</integer>
		<integer>845210380</integer>
		<integer>845548074</integer>
		<integer>845627995</integer>
		<integer>845710882</integer>
		<integer>845844848</integer>
		<integer>846168398</integer>
		<integer>846844415</integer>
		<integer>847090550</integer>
		<integer>847175610</integer>
		<integer>847458374</integer>
		<integer>847482715</integer>
		<integer>847889287</integer>
		<integer>848296985</integer>
		<integer>848601416</integer>
		<integer>848929897</integer>
		<integer>849376798</integer>
		<integer>849691692</integer>
		<integer>849762476</integer>
		<integer>849871914</integer>
		<integer>850131058</integer>
		<integer>850308606</integer>
		<integer>850604637</integer>
		<integer>850943418</integer>
		<integer>851086845</integer>
		<integer>851289190</integer>
		<integer>851341010</integer>
		<integer>851446724</integer>
		<integer>851595345</integer>
		<integer>851685488</integer>
	</array>
	<key>userName</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>vendorId</key>
	<integer>118970755</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
