<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>artistId</key>
	<integer>389781157</integer>
	<key>artistName</key>
	<string>NFL Enterprises LLC</string>
	<key>bundleDisplayName</key>
	<string>NFL</string>
	<key>bundleShortVersionString</key>
	<string>57.0.2</string>
	<key>bundleVersion</key>
	<string>14381</string>
	<key>copyright</key>
	<string>© 2015 NFL Enterprises LLC</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Sports</string>
	<key>genreId</key>
	<integer>6004</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>itemId</key>
	<integer>389781154</integer>
	<key>itemName</key>
	<string>NFL</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>NFL Enterprises LLC</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS , Advisory.NO.GAMBLING_CONTESTS and Advisory.NO.TRUE_GAMBLING</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2010-09-10T02:13:00Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/46/ad/be/46adbe47-0570-74c5-ce93-d381173b3c99/AppIcon-release-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.nfl.gamecenter</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>851613540</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>812371390</integer>
		<integer>812455369</integer>
		<integer>812590536</integer>
		<integer>812767666</integer>
		<integer>812860802</integer>
		<integer>812943934</integer>
		<integer>813052286</integer>
		<integer>813102354</integer>
		<integer>813257299</integer>
		<integer>813324320</integer>
		<integer>813403902</integer>
		<integer>813404476</integer>
		<integer>813431345</integer>
		<integer>813522682</integer>
		<integer>813526660</integer>
		<integer>813534922</integer>
		<integer>813535277</integer>
		<integer>813599325</integer>
		<integer>813614952</integer>
		<integer>813728006</integer>
		<integer>813787281</integer>
		<integer>813809136</integer>
		<integer>813996728</integer>
		<integer>813997666</integer>
		<integer>814001486</integer>
		<integer>814017183</integer>
		<integer>814212624</integer>
		<integer>814343739</integer>
		<integer>814491853</integer>
		<integer>814504482</integer>
		<integer>814586170</integer>
		<integer>814735888</integer>
		<integer>814819855</integer>
		<integer>814820318</integer>
		<integer>815031266</integer>
		<integer>815154231</integer>
		<integer>815156002</integer>
		<integer>815330115</integer>
		<integer>815400088</integer>
		<integer>815411430</integer>
		<integer>815437220</integer>
		<integer>815598840</integer>
		<integer>815892491</integer>
		<integer>815897205</integer>
		<integer>815920503</integer>
		<integer>816074563</integer>
		<integer>816253251</integer>
		<integer>816255396</integer>
		<integer>816260534</integer>
		<integer>816311871</integer>
		<integer>816349585</integer>
		<integer>816410196</integer>
		<integer>816484895</integer>
		<integer>816530223</integer>
		<integer>816739936</integer>
		<integer>816952669</integer>
		<integer>817123266</integer>
		<integer>818045119</integer>
		<integer>818115964</integer>
		<integer>818243473</integer>
		<integer>818504110</integer>
		<integer>818586854</integer>
		<integer>818673928</integer>
		<integer>818923261</integer>
		<integer>819174148</integer>
		<integer>819244027</integer>
		<integer>819315937</integer>
		<integer>819521329</integer>
		<integer>819646629</integer>
		<integer>819745051</integer>
		<integer>819814618</integer>
		<integer>819985643</integer>
		<integer>820070738</integer>
		<integer>820207640</integer>
		<integer>820448925</integer>
		<integer>820578443</integer>
		<integer>820639374</integer>
		<integer>820731577</integer>
		<integer>820844180</integer>
		<integer>821019629</integer>
		<integer>821136267</integer>
		<integer>821378872</integer>
		<integer>821420062</integer>
		<integer>821813046</integer>
		<integer>821907370</integer>
		<integer>821942885</integer>
		<integer>822027365</integer>
		<integer>822272681</integer>
		<integer>822644009</integer>
		<integer>823013002</integer>
		<integer>823027169</integer>
		<integer>823444302</integer>
		<integer>823528079</integer>
		<integer>823566966</integer>
		<integer>823621374</integer>
		<integer>823680254</integer>
		<integer>823735668</integer>
		<integer>823780408</integer>
		<integer>823922155</integer>
		<integer>823934255</integer>
		<integer>824103022</integer>
		<integer>824303579</integer>
		<integer>824741408</integer>
		<integer>825258107</integer>
		<integer>825405721</integer>
		<integer>825630123</integer>
		<integer>825750282</integer>
		<integer>826004452</integer>
		<integer>826051653</integer>
		<integer>826305150</integer>
		<integer>826595416</integer>
		<integer>827110482</integer>
		<integer>827238669</integer>
		<integer>827448734</integer>
		<integer>827534697</integer>
		<integer>827665005</integer>
		<integer>827823801</integer>
		<integer>827879112</integer>
		<integer>828025345</integer>
		<integer>828063186</integer>
		<integer>828154345</integer>
		<integer>828220175</integer>
		<integer>828308524</integer>
		<integer>828362883</integer>
		<integer>828376435</integer>
		<integer>828436202</integer>
		<integer>828515321</integer>
		<integer>828554180</integer>
		<integer>828610835</integer>
		<integer>828694704</integer>
		<integer>828803370</integer>
		<integer>828858545</integer>
		<integer>828923188</integer>
		<integer>828941900</integer>
		<integer>829088241</integer>
		<integer>829202628</integer>
		<integer>829269069</integer>
		<integer>829351768</integer>
		<integer>829393096</integer>
		<integer>829523032</integer>
		<integer>829609314</integer>
		<integer>829739367</integer>
		<integer>829796183</integer>
		<integer>829951218</integer>
		<integer>830396413</integer>
		<integer>830826993</integer>
		<integer>830887031</integer>
		<integer>831049517</integer>
		<integer>831164969</integer>
		<integer>831596195</integer>
		<integer>831729528</integer>
		<integer>831742031</integer>
		<integer>831753752</integer>
		<integer>832085904</integer>
		<integer>832163819</integer>
		<integer>832251615</integer>
		<integer>832318678</integer>
		<integer>832422950</integer>
		<integer>832505205</integer>
		<integer>832542877</integer>
		<integer>832693784</integer>
		<integer>832774086</integer>
		<integer>832874792</integer>
		<integer>833025418</integer>
		<integer>833030857</integer>
		<integer>833242101</integer>
		<integer>833248907</integer>
		<integer>833344956</integer>
		<integer>833445615</integer>
		<integer>833548887</integer>
		<integer>833633660</integer>
		<integer>833840503</integer>
		<integer>833954853</integer>
		<integer>834008063</integer>
		<integer>834111039</integer>
		<integer>834152270</integer>
		<integer>834219193</integer>
		<integer>834309977</integer>
		<integer>834416156</integer>
		<integer>834433571</integer>
		<integer>834645732</integer>
		<integer>834709512</integer>
		<integer>834826155</integer>
		<integer>835250171</integer>
		<integer>835283097</integer>
		<integer>835317426</integer>
		<integer>835426472</integer>
		<integer>835480476</integer>
		<integer>835506134</integer>
		<integer>835525576</integer>
		<integer>835540295</integer>
		<integer>835621913</integer>
		<integer>835783428</integer>
		<integer>835889070</integer>
		<integer>835980904</integer>
		<integer>836751454</integer>
		<integer>836765024</integer>
		<integer>836800515</integer>
		<integer>836813019</integer>
		<integer>837210482</integer>
		<integer>837279128</integer>
		<integer>837375190</integer>
		<integer>837419661</integer>
		<integer>837468490</integer>
		<integer>837496651</integer>
		<integer>837513905</integer>
		<integer>837592528</integer>
		<integer>837609355</integer>
		<integer>837644568</integer>
		<integer>837702724</integer>
		<integer>837719896</integer>
		<integer>837755531</integer>
		<integer>837867698</integer>
		<integer>837893173</integer>
		<integer>838063349</integer>
		<integer>838149972</integer>
		<integer>838262015</integer>
		<integer>838266160</integer>
		<integer>838358422</integer>
		<integer>838471614</integer>
		<integer>839133930</integer>
		<integer>839229347</integer>
		<integer>839307894</integer>
		<integer>839408315</integer>
		<integer>839512538</integer>
		<integer>839620091</integer>
		<integer>839797182</integer>
		<integer>839884243</integer>
		<integer>839965496</integer>
		<integer>839970371</integer>
		<integer>839974932</integer>
		<integer>841177498</integer>
		<integer>841180507</integer>
		<integer>841490202</integer>
		<integer>841899931</integer>
		<integer>842027362</integer>
		<integer>842121224</integer>
		<integer>842128920</integer>
		<integer>843324007</integer>
		<integer>843420599</integer>
		<integer>843560678</integer>
		<integer>843672540</integer>
		<integer>843713554</integer>
		<integer>843785135</integer>
		<integer>843915583</integer>
		<integer>843932538</integer>
		<integer>844066347</integer>
		<integer>844156384</integer>
		<integer>844249872</integer>
		<integer>844272099</integer>
		<integer>844487513</integer>
		<integer>844588624</integer>
		<integer>844667691</integer>
		<integer>844735251</integer>
		<integer>844853084</integer>
		<integer>844976468</integer>
		<integer>845180180</integer>
		<integer>845257908</integer>
		<integer>845535777</integer>
		<integer>845628837</integer>
		<integer>846183103</integer>
		<integer>846607038</integer>
		<integer>846785539</integer>
		<integer>846918659</integer>
		<integer>846968310</integer>
		<integer>847035231</integer>
		<integer>847400884</integer>
		<integer>847406054</integer>
		<integer>847462182</integer>
		<integer>847507172</integer>
		<integer>847894956</integer>
		<integer>848031065</integer>
		<integer>848232609</integer>
		<integer>848372372</integer>
		<integer>848527604</integer>
		<integer>848871175</integer>
		<integer>849472023</integer>
		<integer>850986469</integer>
		<integer>851112879</integer>
		<integer>851430923</integer>
		<integer>851613540</integer>
	</array>
	<key>userName</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>vendorId</key>
	<integer>428658</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
