<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>artistId</key>
	<integer>1552465649</integer>
	<key>artistName</key>
	<string>catbyte</string>
	<key>bundleDisplayName</key>
	<string>BUBU</string>
	<key>bundleShortVersionString</key>
	<string>86</string>
	<key>bundleVersion</key>
	<string>86</string>
	<key>copyright</key>
	<string>© 2020 catbyte</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Social Networking</string>
	<key>genreId</key>
	<integer>6005</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>itemId</key>
	<integer>1562234717</integer>
	<key>itemName</key>
	<string>BUBU - Meet New People Nearby</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>catbyte</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.GAMBLING_CONTESTS , Infrequent/Mild Sexual Content and Nudity , Infrequent/Mild Alcohol, Tobacco, or Drug Use or References , Advisory.NO.TRUE_GAMBLING and Advisory.NO.UNRESTRICTED_WEB_ACCESS</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2021-04-16T07:00:00Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is5-ssl.mzstatic.com/image/thumb/Purple122/v4/89/0d/90/890d9000-e4cc-0c03-2b6e-bfcea59d99cd/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>app.social</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>850310355</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>841278255</integer>
		<integer>841660043</integer>
		<integer>842913920</integer>
		<integer>843013780</integer>
		<integer>843076596</integer>
		<integer>843136973</integer>
		<integer>843229806</integer>
		<integer>843997201</integer>
		<integer>844519308</integer>
		<integer>845206247</integer>
		<integer>845617679</integer>
		<integer>845831262</integer>
		<integer>846289367</integer>
		<integer>847150373</integer>
		<integer>847181049</integer>
		<integer>847669190</integer>
		<integer>847872345</integer>
		<integer>848368601</integer>
		<integer>848552927</integer>
		<integer>848966297</integer>
		<integer>849657062</integer>
		<integer>850310355</integer>
	</array>
	<key>userName</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>vendorId</key>
	<integer>122667865</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
