<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSUserTrackingUsageDescription</key>
    <string>Sharing your data helps us improve Linktree and measure marketing campaign effectiveness. We will use your data in accordance with our Privacy Policy.</string>
    <key>Intercom</key>
    <dict>
      <key>AppId</key>
      <string>gzvhbbai</string>
      <key>APIKey</key>
      <string>ios_sdk-1139c6b72f0a0ac62f20d1cb0f77de05d8c88a8a</string>
    </dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>Braze</key>
    <dict>
      <key>APIKey</key>
      <string>a7139a6e-f687-4d1a-9b79-c97383ea802e</string>
      <key>Endpoint</key>
      <string>sdk.iad-06.braze.com</string>
    </dict>
    <key>DTPlatformVersion</key>
    <string>15.2</string>
    <key>CFBundleName</key>
    <string>Linktree</string>
    <key>DTSDKName</key>
    <string>iphoneos15.2</string>
    <key>CodePushDeploymentKey</key>
    <string>dvvRuPC9uCKnHg3bUquC3sRSES322eVjd0_qk1</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>The app needs access to your gallery to upload photos to your profile or links.</string>
    <key>FirebaseCrashlyticsCollectionEnabled</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleDisplayName</key>
    <string>Linktree</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>message</string>
      <string>readdle-spark</string>
      <string>airmail</string>
      <string>ms-outlook</string>
      <string>googlegmail</string>
      <string>inbox-gmail</string>
      <string>ymail</string>
      <string>superhuman</string>
      <string>yandexmail</string>
      <string>fastmail</string>
      <string>protonmail</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>The app would like to use your phone location</string>
    <key>CodePushPublicKey</key>
    <string>-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuwsfarjd3NDrrzsk0jYv
1yol5mv+0I5tP3cuBLUDHFwBt7iCcqhwQOQXFSpJLmD7/WGShfdRcKj6I/IydHLm
qjQJ5iJwSyBNQwxXEmi1U3U02gf+PdIGXVI5jQcQJkosWXzuAZ6wyE8GEaEYdA3q
7vG32K/EVxU3ov+g/2sov6C8nvLhoY6g/L3z4UPHaKOM7zLiDzH5kg9MyIk5TuI4
x5rQbNIWguI5Dt6kD9Un6ODPE3+Rb+hMYpWKYL7xmb5L+TzKxbbo8BSt7d5o9eK3
6tYsLLYUER0HE7n9VhC9SUpeF0iDqg6W+PQuVWf4EkT+PVbqmGmTzE+C0Nrm6tkC
twIDAQAB
-----END PUBLIC KEY-----</string>
    <key>IntercomAutoIntegratePushNotifications</key>
    <false/>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>19C51</string>
    <key>NSCameraUsageDescription</key>
    <string>The app needs access to your camera to upload photos to your profile or links.</string>
    <key>CFBundleShortVersionString</key>
    <string>1.8.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>20G314</string>
    <key>DTPlatformBuild</key>
    <string>19C51</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>13C100</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>MinimumOSVersion</key>
    <string>13.0</string>
    <key>CFBundleVersion</key>
    <string>200</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>The app needs access to your gallery to upload photos to your profile or links.</string>
    <key>UIAppFonts</key>
    <array>
      <string>Karla-Regular.ttf</string>
      <string>Karla-Bold.ttf</string>
      <string>Inter-Bold.ttf</string>
      <string>Inter-Regular.ttf</string>
      <string>Inter-SemiBold.ttf</string>
      <string>Inter-VariableFont.ttf</string>
      <string>Inter-Black.ttf</string>
      <string>MaterialIcons.ttf</string>
      <string>MaterialCommunityIcons.ttf</string>
      <string>AntDesign.ttf</string>
      <string>Entypo.ttf</string>
      <string>EvilIcons.ttf</string>
      <string>Feather.ttf</string>
      <string>FontAwesome.ttf</string>
      <string>FontAwesome5_Brands.ttf</string>
      <string>FontAwesome5_Regular.ttf</string>
      <string>FontAwesome5_Solid.ttf</string>
      <string>Foundation.ttf</string>
      <string>Ionicons.ttf</string>
      <string>SimpleLineIcons.ttf</string>
      <string>Octicons.ttf</string>
      <string>Zocial.ttf</string>
      <string>Inter-Medium.ttf</string>
    </array>
    <key>branch_key</key>
    <dict>
      <key>live</key>
      <string>key_live_pp1R3hnBOY2o4ucHt5eLKfgpsre7y7sU</string>
      <key>test</key>
      <string>key_test_icXI4bjvSY8k1raMCXoULfldDqk2xZw4</string>
    </dict>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>The app requires access to your microphone to record audio and upload videos</string>
    <key>CFBundleIdentifier</key>
    <string>ee.linktr.admin</string>
    <key>branch_universal_link_domains</key>
    <array>
      <string>linktree.app.link</string>
      <string>linktree-alternate.app.link</string>
      <string>linktree.test-app.link</string>
      <string>linktree-alternate.test-app.link</string>
    </array>
    <key>DTXcode</key>
    <string>1321</string>
    <key>CFBundleExecutable</key>
    <string>Linktree</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
      <key>NSAllowsArbitraryLoadsInWebContent</key>
      <true/>
    </dict>
    <key>firebase_json_raw</key>
    <string>e30=</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>None</string>
        <key>CFBundleURLName</key>
        <string>auth0</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ee.linktr.admin</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.281411952993-2e8bbstnu0vv9f1e6859grkbd09m359j</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>linktree</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>linktree</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>ee.linktr.admin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>linktree</string>
        </array>
      </dict>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>13F100</string>
  </dict>
</plist>
