<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Bluetooth is used for audio playback.</string>
    <key>DTPlatformVersion</key>
    <string>15.0</string>
    <key>DTSDKBuild</key>
    <string>19A339</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon-release60x60</string>
          <string>AppIcon-release76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon-release</string>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Camera is used for photographing credit card information.</string>
    <key>UIStatusBarHidden~ipad</key>
    <false/>
    <key>CFBundleDisplayName</key>
    <string>NFL Network</string>
    <key>AVInitialRouteSharingPolicy</key>
    <string>LongFormVideo</string>
    <key>DTXcodeBuild</key>
    <string>13A233</string>
    <key>NSRemindersUsageDescription</key>
    <string>Reminders is used for product sharing.</string>
    <key>CFBundleIdentifier</key>
    <string>com.nfl.nflno</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon-release60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon-release</string>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>GADEnableOMID</key>
    <true/>
    <key>NSUserTrackingUsageDescription</key>
    <string>This will only be used to serve more relevant ads</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>The NFL Network app uses Bluetooth to discover nearby Cast devices.</string>
    <key>MinimumOSVersion</key>
    <string>12.1</string>
    <key>CFBundleName</key>
    <string>NFLNetwork</string>
    <key>SKAdNetworkItems</key>
    <array>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>cstr6suwn9.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4fzdc2evr5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>2fnua5tdw4.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ydx93a7ass.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>5a6flpkh64.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>p78axxw29g.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v72qych5uu.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>c6k4g5qg8m.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>s39g8k73mm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3qy4746246.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3sh42y64q3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>f38h382jlk.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>hs6bdukanm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>prcb7njmu6.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>wzmmz9fp6w.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>yclnxrl5pm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4468km3ulz.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>t38b2kh725.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>7ug5zh24hu.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>9rd848q2bz.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>n6fk4nfna4.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>kbd757ywx3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>9t245vhmpl.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>2u9pt9hc89.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>8s468mfl3y.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>av6w8kgt66.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>klf5c3l5u5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ppxm28t8ap.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>424m5254lk.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>uw77j35x4d.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>e5fvkxwrpn.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>zq492l623r.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3qcr597p9d.skadnetwork</string>
      </dict>
    </array>
    <key>CFBundleShortVersionString</key>
    <string>12.3.5</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>The NFL Network app uses the local network to discover Cast-enabled devices on your WiFi network.</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>EndzoneSans-Light.otf</string>
      <string>EndzoneSans-Medium.otf</string>
      <string>EndzoneSans-Bold.otf</string>
      <string>All-ProSans-Black.otf</string>
      <string>All-ProSans-BlackItalic.otf</string>
      <string>All-ProSans-Bold.otf</string>
      <string>All-ProSans-BoldItalic.otf</string>
      <string>All-ProSans-Heavy.otf</string>
      <string>All-ProSans-HeavyItalic.otf</string>
      <string>All-ProSans-Light.otf</string>
      <string>All-ProSans-LightItalic.otf</string>
      <string>All-ProSans-Medium.otf</string>
      <string>All-ProSans-MediumItalic.otf</string>
      <string>All-ProSans-Regular.otf</string>
      <string>All-ProSans-RegularItalic.otf</string>
      <string>All-ProSans-SemiBold.otf</string>
      <string>All-ProSans-SemiBoldItalic.otf</string>
      <string>All-ProSans-Thin.otf</string>
      <string>All-ProSans-ThinItalic.otf</string>
      <string>NFLIcons.ttf</string>
      <string>EndzoneSans-Bold.otf</string>
      <string>EndzoneSans-Light.otf</string>
      <string>EndzoneSans-Medium.otf</string>
      <string>NotoSerif.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>NFLNetwork</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>fairplayCertificateName</key>
    <string>fairplay_network.cer</string>
    <key>GADOMIDConfig</key>
    <string>A</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>20G165</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Calendar is used by product sharing.</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>The NFL Network app uses microphone access to listen for ultrasonic tokens
	when pairing with nearby Cast devices.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>The NFL Network app uses your location to give you access to watch live games in your region.</string>
    <key>GADIsAdManagerApp</key>
    <true/>
    <key>CFBundleVersion</key>
    <string>12920</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>nflnetwork</string>
          <string>appcenter-2649e04a-ae58-47f8-9c50-9edf0b78e4e3</string>
        </array>
      </dict>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos15.0</string>
    <key>NSBonjourServices</key>
    <array>
      <string>_googlecast._tcp</string>
      <string>_4EDBC63B._googlecast._tcp</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>amp.nfl.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>nfl.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>neulion.com</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSContactsUsageDescription</key>
    <string>Contacts are used by Apple Pay for billing and shipping information.</string>
    <key>DTPlatformBuild</key>
    <string>19A339</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Photo library is used for snapshots and crash reporting.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTXcode</key>
    <string>1300</string>
    <key>DTAppStoreToolsBuild</key>
    <string>13C90b</string>
  </dict>
</plist>
