<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>artistId</key>
	<integer>1609502831</integer>
	<key>artistName</key>
	<string>FrankSpeech LLC</string>
	<key>bundleDisplayName</key>
	<string>FrankSpeech</string>
	<key>bundleShortVersionString</key>
	<string>3.0.1</string>
	<key>bundleVersion</key>
	<string>2</string>
	<key>copyright</key>
	<string>© 2022</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Social Networking</string>
	<key>genreId</key>
	<integer>6005</integer>
	<key>hasOrEverHasHadIAP</key>
	<false/>
	<key>itemId</key>
	<integer>1609502829</integer>
	<key>itemName</key>
	<string>FrankSpeech</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>FrankSpeech LLC</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Infrequent/Mild Medical/Treatment Information , Infrequent/Mild Alcohol, Tobacco, or Drug Use or References , Infrequent/Mild Horror/Fear Themes , Advisory.NO.UNRESTRICTED_WEB_ACCESS , Advisory.NO.TRUE_GAMBLING , Infrequent/Mild Contests , Frequent/Intense Mature/Suggestive Themes , Infrequent/Mild Realistic Violence , Gambling and Contests and Infrequent/Mild Profanity or Crude Humor</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2022-02-13T08:00:00Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/81/51/a9/8151a96b-fa4e-04b9-e2ef-a48f3d615ed5/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.frankmobile.frankspeech</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>851562150</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>847118985</integer>
		<integer>847361088</integer>
		<integer>847438095</integer>
		<integer>847501829</integer>
		<integer>847511750</integer>
		<integer>847573282</integer>
		<integer>847669532</integer>
		<integer>847714523</integer>
		<integer>847867871</integer>
		<integer>848033685</integer>
		<integer>848059614</integer>
		<integer>848892144</integer>
		<integer>849786939</integer>
		<integer>849808013</integer>
		<integer>850252248</integer>
		<integer>850717462</integer>
		<integer>851134250</integer>
		<integer>851188088</integer>
		<integer>851539238</integer>
		<integer>851562150</integer>
	</array>
	<key>userName</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>vendorId</key>
	<integer>124087454</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
