<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>artistId</key>
	<integer>1537012562</integer>
	<key>artistName</key>
	<string>Swipr Corporation</string>
	<key>bundleDisplayName</key>
	<string>Swipr</string>
	<key>bundleShortVersionString</key>
	<string>6.5.6</string>
	<key>bundleVersion</key>
	<string>1085</string>
	<key>copyright</key>
	<string>© 2022 Swipr Inc.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Social Networking</string>
	<key>genreId</key>
	<integer>6005</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>itemId</key>
	<integer>1537012560</integer>
	<key>itemName</key>
	<string>Swipr - Make new friends</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Swipr Corporation</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Infrequent/Mild Profanity or Crude Humor , Infrequent/Mild Alcohol, Tobacco, or Drug Use or References , Advisory.NO.GAMBLING_CONTESTS , Frequent/Intense Mature/Suggestive Themes , Advisory.NO.UNRESTRICTED_WEB_ACCESS , Infrequent/Mild Sexual Content and Nudity and Advisory.NO.TRUE_GAMBLING</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2020-11-09T08:00:00Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/5b/33/2e/5b332eae-ab26-8e91-37e9-9bfd1bda2d42/AppIcon-0-0-1x_U007emarketing-0-0-0-5-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.guppir.swiprForFriends</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>851285971</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>838340227</integer>
		<integer>838835469</integer>
		<integer>839136647</integer>
		<integer>839215376</integer>
		<integer>839292404</integer>
		<integer>839315872</integer>
		<integer>839326074</integer>
		<integer>839378663</integer>
		<integer>839460631</integer>
		<integer>839473807</integer>
		<integer>839496045</integer>
		<integer>839546165</integer>
		<integer>839564976</integer>
		<integer>839583082</integer>
		<integer>839631117</integer>
		<integer>839631817</integer>
		<integer>839651805</integer>
		<integer>839688689</integer>
		<integer>839734620</integer>
		<integer>839790983</integer>
		<integer>839807615</integer>
		<integer>839870915</integer>
		<integer>839925442</integer>
		<integer>839944976</integer>
		<integer>839966678</integer>
		<integer>840002536</integer>
		<integer>840024219</integer>
		<integer>840050921</integer>
		<integer>840116238</integer>
		<integer>840219390</integer>
		<integer>840243049</integer>
		<integer>840255820</integer>
		<integer>840368345</integer>
		<integer>840410026</integer>
		<integer>840441682</integer>
		<integer>840598645</integer>
		<integer>840630967</integer>
		<integer>840649512</integer>
		<integer>840716304</integer>
		<integer>840771694</integer>
		<integer>840845404</integer>
		<integer>840895917</integer>
		<integer>841113042</integer>
		<integer>841127417</integer>
		<integer>841145870</integer>
		<integer>841958816</integer>
		<integer>841997754</integer>
		<integer>842060265</integer>
		<integer>842093105</integer>
		<integer>842126547</integer>
		<integer>842135058</integer>
		<integer>842208952</integer>
		<integer>842279563</integer>
		<integer>842313966</integer>
		<integer>842344637</integer>
		<integer>842360380</integer>
		<integer>842367540</integer>
		<integer>842383619</integer>
		<integer>842436758</integer>
		<integer>842442377</integer>
		<integer>842462404</integer>
		<integer>842472732</integer>
		<integer>842476193</integer>
		<integer>842495056</integer>
		<integer>842517979</integer>
		<integer>842522600</integer>
		<integer>842528236</integer>
		<integer>842530752</integer>
		<integer>842535147</integer>
		<integer>842546286</integer>
		<integer>842564168</integer>
		<integer>842704452</integer>
		<integer>842722300</integer>
		<integer>842735155</integer>
		<integer>842753830</integer>
		<integer>842853932</integer>
		<integer>842954218</integer>
		<integer>843050456</integer>
		<integer>843376302</integer>
		<integer>843377615</integer>
		<integer>843380316</integer>
		<integer>843389028</integer>
		<integer>843406012</integer>
		<integer>843465000</integer>
		<integer>843512336</integer>
		<integer>843585653</integer>
		<integer>843642955</integer>
		<integer>843681545</integer>
		<integer>843692236</integer>
		<integer>843772331</integer>
		<integer>843998806</integer>
		<integer>844121055</integer>
		<integer>844163803</integer>
		<integer>844330287</integer>
		<integer>844393940</integer>
		<integer>844563211</integer>
		<integer>845275690</integer>
		<integer>845488764</integer>
		<integer>845791366</integer>
		<integer>845978523</integer>
		<integer>846324181</integer>
		<integer>846583813</integer>
		<integer>846888216</integer>
		<integer>846906019</integer>
		<integer>846950397</integer>
		<integer>846960350</integer>
		<integer>846970306</integer>
		<integer>847094949</integer>
		<integer>847136918</integer>
		<integer>847150291</integer>
		<integer>847240099</integer>
		<integer>847328287</integer>
		<integer>847344057</integer>
		<integer>847367008</integer>
		<integer>847570367</integer>
		<integer>847598788</integer>
		<integer>847627067</integer>
		<integer>847668159</integer>
		<integer>847755248</integer>
		<integer>847797272</integer>
		<integer>847849689</integer>
		<integer>847903181</integer>
		<integer>847997301</integer>
		<integer>848176088</integer>
		<integer>848207616</integer>
		<integer>848290847</integer>
		<integer>848402740</integer>
		<integer>848478256</integer>
		<integer>848637291</integer>
		<integer>848701362</integer>
		<integer>848723528</integer>
		<integer>848827003</integer>
		<integer>848863954</integer>
		<integer>849053926</integer>
		<integer>849291676</integer>
		<integer>849377423</integer>
		<integer>849481672</integer>
		<integer>850089463</integer>
		<integer>850117754</integer>
		<integer>850198901</integer>
		<integer>850579591</integer>
		<integer>850627527</integer>
		<integer>851030953</integer>
		<integer>851285971</integer>
	</array>
	<key>userName</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>vendorId</key>
	<integer>122259015</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
