<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSUserTrackingUsageDescription</key>
    <string>This helps us know how you found our app, so we can reach more Fantasy Football fans like you.</string>
    <key>SKAdNetworkItems</key>
    <array>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v9wttpbfk9.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>n38lu8286q.skadnetwork</string>
      </dict>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>15.2</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleName</key>
    <string>picksapp</string>
    <key>DTSDKName</key>
    <string>iphoneos15.2</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Give WalterPicks permission to access your photos</string>
    <key>NSRemindersUsageDescription</key>
    <string>Allow WalterPicks to access your reminders</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>walterpicks</string>
          <string>fb2490255914599000</string>
        </array>
      </dict>
    </array>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Allow WalterPicks to use your location</string>
    <key>CFBundleDisplayName</key>
    <string>WalterPicks</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>itms-apps</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Allow WalterPicks to use your location</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>19C51</string>
    <key>NSCameraUsageDescription</key>
    <string>Allow WalterPicks to use the camera</string>
    <key>CFBundleShortVersionString</key>
    <string>3.7.1</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Allow WalterPicks to use your location</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>21F79</string>
    <key>DTPlatformBuild</key>
    <string>19C51</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>13C100</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>MinimumOSVersion</key>
    <string>12.0</string>
    <key>CFBundleVersion</key>
    <string>537</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Give WalterPicks permission to save photos</string>
    <key>branch_key</key>
    <string>key_live_mjZeU7e1Brkt9Tmbw1cHOjpbsqeveX84</string>
    <key>FacebookAppID</key>
    <string>2490255914599000</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow WalterPicks to access your microphone</string>
    <key>NSMotionUsageDescription</key>
    <string>Allow WalterPicks to access your device's accelerometer</string>
    <key>CFBundleIdentifier</key>
    <string>com.walterpicks.picksapp</string>
    <key>FacebookDisplayName</key>
    <string>WalterPicks</string>
    <key>branch_universal_link_domains</key>
    <array>
      <string>k6tky.app.link</string>
    </array>
    <key>DTXcode</key>
    <string>1321</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Allow WalterPicks to access your calendar</string>
    <key>CFBundleExecutable</key>
    <string>picksapp</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSContactsUsageDescription</key>
    <string>Allow WalterPicks to access your contacts</string>
    <key>DTAppStoreToolsBuild</key>
    <string>13F100</string>
  </dict>
</plist>
