<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>SHORTCUT_TITLE_OPEN_MESSAGES</string>
        <key>UIApplicationShortcutItemType</key>
        <string>open_messages</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>3d_touch_messages</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>SHORTCUT_TITLE_OPEN_NOTIFICATIONS</string>
        <key>UIApplicationShortcutItemType</key>
        <string>open_events</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>3d_touch_events</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>SHORTCUT_TITLE_OPEN_PUSH_SETTINGS</string>
        <key>UIApplicationShortcutItemType</key>
        <string>open_push_settings</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>3d_touch_settings</string>
      </dict>
    </array>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app does not require access to the contacts.</string>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>The app uses location only in use to show relevant people.</string>
    <key>firebase_json_raw</key>
    <string>eyJjcmFzaGx5dGljc19kZWJ1Z19lbmFibGVkIjogdHJ1ZSwgImNyYXNobHl0aWNzX2F1dG9fY29sbGVjdGlvbl9lbmFibGVkIjogdHJ1ZSwgImFuYWx5dGljc19hdXRvX2NvbGxlY3Rpb25fZW5hYmxlZCI6IHRydWV9</string>
    <key>DTPlatformVersion</key>
    <string>15.5</string>
    <key>DTSDKBuild</key>
    <string>19F64</string>
    <key>SCAutoLogAppEventsEnabled</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-9738504066513484~6984768455</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Access to the phone camera is required to upload profile photos and record videos that will be displayed after moderation. Camera may be used to make a verification photo, which is not publicly diplayed.</string>
    <key>CFBundleDisplayName</key>
    <string>Taimi</string>
    <key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
    <true/>
    <key>DTXcodeBuild</key>
    <string>13F100</string>
    <key>SCSDKRedirectUrl</key>
    <string>taimi://snapchat/login</string>
    <key>CFBundleIdentifier</key>
    <string>com.taimi.ios</string>
    <key>bugsnag</key>
    <dict>
      <key>apiKey</key>
      <string>8ebe0d7a47306e974250d61edf35b60a</string>
      <key>releaseStage</key>
      <string>Production</string>
    </dict>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>FacebookDisplayName</key>
    <string>Taimi - App</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
      <string>googlegmail</string>
      <string>fb-messenger-api</string>
      <string>fbauth2</string>
      <string>fbshareextension</string>
      <string>snapchat</string>
      <string>bitmoji-sdk</string>
      <string>itms-apps</string>
      <string>instagram</string>
      <string>fb</string>
      <string>spotify</string>
      <string>snssdk1233</string>
      <string>twitter</string>
      <string>pinterest</string>
      <string>twitch</string>
      <string>discord</string>
      <string>tumblr</string>
      <string>message</string>
      <string>readdle-spark</string>
      <string>ms-outlook</string>
      <string>googlegmail</string>
      <string>ymail</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSUserTrackingUsageDescription</key>
    <string>Your data will be used to deliver personalized ads to you.</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSMotionUsageDescription</key>
    <string>Required for video calls</string>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <false/>
    <key>MinimumOSVersion</key>
    <string>12.0</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>This app does not require access to the bluetooth.</string>
    <key>SKAdNetworkItems</key>
    <array>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>22mmun2rn5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>2u9pt9hc89.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3qy4746246.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3rd42ekr43.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>3sh42y64q3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4468km3ulz.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>44jx6755aq.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>4fzdc2evr5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>523jb4fst2.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>578prtvx9j.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>5a6flpkh64.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>5l3tpt7t6e.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>5lm9lj6jb7.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>737z793b9f.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>7953jerfzd.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>7rz58n8ntl.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>7ug5zh24hu.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>8s468mfl3y.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>97r2b46745.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>9rd848q2bz.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>9t245vhmpl.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>9yg77x724h.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>av6w8kgt66.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>bvpn9ufa9b.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>c6k4g5qg8m.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>cg4yq2srnc.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>cj5566h2ga.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>cstr6suwn9.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>f38h382jlk.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>f73kdq92p3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ggvn48r87g.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>gvmwg8q7h5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>hs6bdukanm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>kbd757ywx3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>klf5c3l5u5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>m8dbw4sv7c.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>mlmmfzh3r3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>mls7yz5dvl.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>mtkv5xtk9e.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>n38lu8286q.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>n66cz3y3bx.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>n9x2a789qt.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>nzq8sh4pbs.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>p78axxw29g.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>ppxm28t8ap.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>prcb7njmu6.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>pu4na253f3.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>t38b2kh725.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>u679fj5vs4.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>uw77j35x4d.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v72qych5uu.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v9wttpbfk9.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>w9q455wk68.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>wzmmz9fp6w.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>xy9t38ct57.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>yclnxrl5pm.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>yrqqpx2mcb.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>z4gj7hsk7h.skadnetwork</string>
      </dict>
    </array>
    <key>CFBundleName</key>
    <string>Taimi</string>
    <key>CFBundleShortVersionString</key>
    <string>5.1.190</string>
    <key>UIAppFonts</key>
    <array>
      <string>taimifontello.woff2</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>Taimi</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>NSAppleMusicUsageDescription</key>
    <string>Required for video calls</string>
    <key>FirebaseCrashlyticsCollectionEnabled</key>
    <false/>
    <key>FacebookAppID</key>
    <string>1954782704787188</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This app does not require access to the speech recognition.</string>
    <key>BuildMachineOSBuild</key>
    <string>21F79</string>
    <key>NSCalendarsUsageDescription</key>
    <string>This app does not require access to the calendar.</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Access to your microphone is required in order to make video calls with other users and record videos to your profile.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>So you can chat with people nearby.</string>
    <key>SCSDKScopes</key>
    <array>
      <string>https://auth.snapchat.com/oauth2/api/user.display_name</string>
    </array>
    <key>CFBundleVersion</key>
    <string>350</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Access to the face id feature is required for two-factor authentication.</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>taimi</string>
          <string>fb1954782704787188</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.taimi.ios</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>spotify-ios-quick-start</string>
        </array>
      </dict>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos15.5</string>
    <key>SCSDKClientId</key>
    <string>b3e0cb7a-a94c-425f-948c-19169e475432</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
      <key>NSAllowsArbitraryLoadsInWebContent</key>
      <true/>
      <key>NSAllowsArbitraryLoadsForMedia</key>
      <true/>
    </dict>
    <key>NSContactsUsageDescription</key>
    <string>This app does not require access to the contacts.</string>
    <key>DTPlatformBuild</key>
    <string>19F64</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Taimi needs access to your photos so you can upload them to your profile or share them in private dialogues. Only selected photos will be uploaded.</string>
    <key>DTXcode</key>
    <string>1341</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>13F100</string>
  </dict>
</plist>
