<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G3025</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>FANKit</string>
	<key>CFBundleIdentifier</key>
	<string>com.fanatics.FANKit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FANKit</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>16B91</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>12.1</string>
	<key>DTSDKBuild</key>
	<string>16B91</string>
	<key>DTSDKName</key>
	<string>iphoneos12.1</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>FAN</key>
	<dict>
		<key>FANBuildConfiguration</key>
		<string>Release</string>
		<key>FANBuildDate</key>
		<string>Fri May 31 17:13:15 PDT 2019</string>
		<key>FANBuildLocation</key>
		<string>/Users/rwheeler/dev/natx-ios-sdk</string>
		<key>FANBuildMachine</key>
		<string>C02WN1KZG8WN.local</string>
		<key>FANBuildUser</key>
		<string>rwheeler</string>
		<key>FANGitBranchName</key>
		<string>develop</string>
		<key>FANGitLastCommit</key>
		<string>c763be6</string>
	</dict>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
</dict>
</plist>
