<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinfPaths</key>
	<array>
		<string>SC_Info/Taimi.sinf</string>
	</array>
	<key>SinfReplicationPaths</key>
	<array>
		<string>Frameworks/AgoraAIDenoiseExtension.framework/SC_Info/AgoraAIDenoiseExtension.sinf</string>
		<string>Frameworks/AgoraCIExtension.framework/SC_Info/AgoraCIExtension.sinf</string>
		<string>Frameworks/AgoraCore.framework/SC_Info/AgoraCore.sinf</string>
		<string>Frameworks/AgoraDav1dExtension.framework/SC_Info/AgoraDav1dExtension.sinf</string>
		<string>Frameworks/AgoraFDExtension.framework/SC_Info/AgoraFDExtension.sinf</string>
		<string>Frameworks/AgoraFullAudioFormatExtension.framework/SC_Info/AgoraFullAudioFormatExtension.sinf</string>
		<string>Frameworks/AgoraReplayKitExtension.framework/SC_Info/AgoraReplayKitExtension.sinf</string>
		<string>Frameworks/AgoraRtcKit.framework/SC_Info/AgoraRtcKit.sinf</string>
		<string>Frameworks/AgoraSoundTouch.framework/SC_Info/AgoraSoundTouch.sinf</string>
		<string>Frameworks/AgoraSpatialAudioExtension.framework/SC_Info/AgoraSpatialAudioExtension.sinf</string>
		<string>Frameworks/AgoraSuperResolutionExtension.framework/SC_Info/AgoraSuperResolutionExtension.sinf</string>
		<string>Frameworks/AgoraVideoProcessExtension.framework/SC_Info/AgoraVideoProcessExtension.sinf</string>
		<string>Frameworks/AgoraVideoSegmentationExtension.framework/SC_Info/AgoraVideoSegmentationExtension.sinf</string>
		<string>Frameworks/Agorafdkaac.framework/SC_Info/Agorafdkaac.sinf</string>
		<string>Frameworks/Agoraffmpeg.framework/SC_Info/Agoraffmpeg.sinf</string>
		<string>Frameworks/FBAEMKit.framework/SC_Info/FBAEMKit.sinf</string>
		<string>Frameworks/FBSDKCoreKit.framework/SC_Info/FBSDKCoreKit.sinf</string>
		<string>Frameworks/FBSDKCoreKit_Basics.framework/SC_Info/FBSDKCoreKit_Basics.sinf</string>
		<string>Frameworks/FBSDKLoginKit.framework/SC_Info/FBSDKLoginKit.sinf</string>
		<string>Frameworks/FBSDKShareKit.framework/SC_Info/FBSDKShareKit.sinf</string>
		<string>Frameworks/GiphyUISDK.framework/SC_Info/GiphyUISDK.sinf</string>
		<string>Frameworks/SCAppAdsKit.framework/SC_Info/SCAppAdsKit.sinf</string>
		<string>Frameworks/SCSDKCoreKit.framework/SC_Info/SCSDKCoreKit.sinf</string>
		<string>Frameworks/SCSDKLoginKit.framework/SC_Info/SCSDKLoginKit.sinf</string>
		<string>Frameworks/hermes.framework/SC_Info/hermes.sinf</string>
		<string>PlugIns/Extension.appex/SC_Info/Extension.sinf</string>
		<string>PlugIns/Taimi Widget.appex/SC_Info/Taimi Widget.sinf</string>
		<string>SC_Info/Taimi.sinf</string>
	</array>
</dict>
</plist>
