<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>artistId</key>
	<integer>1521523142</integer>
	<key>artistName</key>
	<string>WalterPicks LLC</string>
	<key>bundleDisplayName</key>
	<string>WalterPicks</string>
	<key>bundleShortVersionString</key>
	<string>3.7.1</string>
	<key>bundleVersion</key>
	<string>537</string>
	<key>copyright</key>
	<string>© 2020 WalterPicks LLC</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Sports</string>
	<key>genreId</key>
	<integer>6004</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>itemId</key>
	<integer>1521523140</integer>
	<key>itemName</key>
	<string>WalterPicks</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>WalterPicks LLC</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Infrequent/Mild Profanity or Crude Humor , Advisory.NO.UNRESTRICTED_WEB_ACCESS , Frequent/Intense Contests , Frequent/Intense Simulated Gambling , Gambling and Contests and Gambling</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2020-08-06T07:00:00Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is2-ssl.mzstatic.com/image/thumb/Purple122/v4/b3/6a/d3/b36ad36d-185c-3b89-e1a5-0c2f35dee9bb/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.walterpicks.picksapp</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>851562135</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>836652535</integer>
		<integer>837275578</integer>
		<integer>837574464</integer>
		<integer>837705267</integer>
		<integer>837823914</integer>
		<integer>838126894</integer>
		<integer>838254071</integer>
		<integer>838886995</integer>
		<integer>839107649</integer>
		<integer>839599394</integer>
		<integer>839931371</integer>
		<integer>840234878</integer>
		<integer>840430200</integer>
		<integer>841499342</integer>
		<integer>842302179</integer>
		<integer>843298777</integer>
		<integer>843380976</integer>
		<integer>843397964</integer>
		<integer>843714064</integer>
		<integer>843788303</integer>
		<integer>843968864</integer>
		<integer>844019735</integer>
		<integer>844139311</integer>
		<integer>844209294</integer>
		<integer>844537917</integer>
		<integer>844848925</integer>
		<integer>844976425</integer>
		<integer>845126312</integer>
		<integer>845269754</integer>
		<integer>845954911</integer>
		<integer>846095420</integer>
		<integer>846400450</integer>
		<integer>846552314</integer>
		<integer>846824901</integer>
		<integer>847076118</integer>
		<integer>847667645</integer>
		<integer>847933466</integer>
		<integer>848932878</integer>
		<integer>849002640</integer>
		<integer>849269273</integer>
		<integer>849457330</integer>
		<integer>850443969</integer>
		<integer>850955271</integer>
		<integer>851206302</integer>
		<integer>851387087</integer>
		<integer>851562135</integer>
	</array>
	<key>userName</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>vendorId</key>
	<integer>121765674</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
