<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>artistId</key>
	<integer>412223225</integer>
	<key>artistName</key>
	<string>Agile Sports Technologies, Inc.</string>
	<key>bundleDisplayName</key>
	<string>Hudl</string>
	<key>bundleShortVersionString</key>
	<string>5.131</string>
	<key>bundleVersion</key>
	<string>5.131.126</string>
	<key>copyright</key>
	<string>© 2020 Agile Sports Technologies, Inc.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Sports</string>
	<key>genreId</key>
	<integer>6004</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>itemId</key>
	<integer>412223222</integer>
	<key>itemName</key>
	<string>Hudl</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Agile Sports Technologies, Inc.</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.TRUE_GAMBLING , Advisory.NO.UNRESTRICTED_WEB_ACCESS and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2011-02-17T08:00:00Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is5-ssl.mzstatic.com/image/thumb/Purple122/v4/7e/39/68/7e396808-78ed-031f-9ec6-5afd32365586/AppIcon-0-0-1x_U007emarketing-0-0-0-6-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.hudl.modi</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>851376263</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>3283145</integer>
		<integer>3415843</integer>
		<integer>3605406</integer>
		<integer>3669088</integer>
		<integer>3850528</integer>
		<integer>3878688</integer>
		<integer>4171257</integer>
		<integer>4321144</integer>
		<integer>4840528</integer>
		<integer>4897013</integer>
		<integer>5971731</integer>
		<integer>6703961</integer>
		<integer>8987641</integer>
		<integer>9477251</integer>
		<integer>10043072</integer>
		<integer>10260032</integer>
		<integer>10296998</integer>
		<integer>10551615</integer>
		<integer>10871669</integer>
		<integer>11339652</integer>
		<integer>12500431</integer>
		<integer>12875155</integer>
		<integer>13023756</integer>
		<integer>13372832</integer>
		<integer>13715422</integer>
		<integer>13964654</integer>
		<integer>14107054</integer>
		<integer>14248164</integer>
		<integer>14389242</integer>
		<integer>14573680</integer>
		<integer>14807112</integer>
		<integer>14902124</integer>
		<integer>14978188</integer>
		<integer>15046511</integer>
		<integer>15124652</integer>
		<integer>15196884</integer>
		<integer>15274288</integer>
		<integer>15349037</integer>
		<integer>15455426</integer>
		<integer>15515564</integer>
		<integer>15705898</integer>
		<integer>15979031</integer>
		<integer>16025737</integer>
		<integer>16160269</integer>
		<integer>16388453</integer>
		<integer>16640068</integer>
		<integer>16796073</integer>
		<integer>67012663</integer>
		<integer>84342659</integer>
		<integer>85132652</integer>
		<integer>130952632</integer>
		<integer>186502631</integer>
		<integer>240432636</integer>
		<integer>271542639</integer>
		<integer>296202632</integer>
		<integer>310122631</integer>
		<integer>334762656</integer>
		<integer>354162638</integer>
		<integer>366642682</integer>
		<integer>410932642</integer>
		<integer>421412679</integer>
		<integer>448492868</integer>
		<integer>525452649</integer>
		<integer>546732631</integer>
		<integer>572622740</integer>
		<integer>581712690</integer>
		<integer>589452707</integer>
		<integer>591962897</integer>
		<integer>597152643</integer>
		<integer>601174762</integer>
		<integer>601963411</integer>
		<integer>610202893</integer>
		<integer>614632715</integer>
		<integer>619652668</integer>
		<integer>630253191</integer>
		<integer>654493866</integer>
		<integer>661312711</integer>
		<integer>669333015</integer>
		<integer>683902722</integer>
		<integer>690963356</integer>
		<integer>700372647</integer>
		<integer>707763735</integer>
		<integer>739202885</integer>
		<integer>765032696</integer>
		<integer>785833987</integer>
		<integer>795753063</integer>
		<integer>810766210</integer>
		<integer>810842920</integer>
		<integer>811391586</integer>
		<integer>811526319</integer>
		<integer>811664132</integer>
		<integer>811767405</integer>
		<integer>811878149</integer>
		<integer>811972763</integer>
		<integer>812074552</integer>
		<integer>812172136</integer>
		<integer>812325488</integer>
		<integer>812388880</integer>
		<integer>812473404</integer>
		<integer>812573318</integer>
		<integer>812670149</integer>
		<integer>812817591</integer>
		<integer>812942272</integer>
		<integer>813029365</integer>
		<integer>813140470</integer>
		<integer>813250136</integer>
		<integer>813313422</integer>
		<integer>813371790</integer>
		<integer>813447766</integer>
		<integer>813828300</integer>
		<integer>813830893</integer>
		<integer>813974757</integer>
		<integer>814169098</integer>
		<integer>814172007</integer>
		<integer>814216255</integer>
		<integer>814418177</integer>
		<integer>814419902</integer>
		<integer>814575172</integer>
		<integer>814791618</integer>
		<integer>814794836</integer>
		<integer>814881773</integer>
		<integer>815154287</integer>
		<integer>815156369</integer>
		<integer>815292777</integer>
		<integer>815883477</integer>
		<integer>815885560</integer>
		<integer>816013675</integer>
		<integer>816277456</integer>
		<integer>816418605</integer>
		<integer>816551422</integer>
		<integer>816713853</integer>
		<integer>816835200</integer>
		<integer>816976851</integer>
		<integer>817119691</integer>
		<integer>817286829</integer>
		<integer>817453570</integer>
		<integer>817623497</integer>
		<integer>817792344</integer>
		<integer>817958645</integer>
		<integer>818129027</integer>
		<integer>818299277</integer>
		<integer>818356629</integer>
		<integer>818403383</integer>
		<integer>818458537</integer>
		<integer>818539583</integer>
		<integer>818621698</integer>
		<integer>818811381</integer>
		<integer>819002811</integer>
		<integer>819186691</integer>
		<integer>819274527</integer>
		<integer>819382819</integer>
		<integer>819580500</integer>
		<integer>819784091</integer>
		<integer>819952625</integer>
		<integer>820069690</integer>
		<integer>820295714</integer>
		<integer>820557865</integer>
		<integer>820596162</integer>
		<integer>820599875</integer>
		<integer>820742908</integer>
		<integer>820928108</integer>
		<integer>820990903</integer>
		<integer>821109566</integer>
		<integer>821298137</integer>
		<integer>821371391</integer>
		<integer>821487480</integer>
		<integer>821676981</integer>
		<integer>821723653</integer>
		<integer>821862151</integer>
		<integer>822042160</integer>
		<integer>822228251</integer>
		<integer>822287600</integer>
		<integer>822408117</integer>
		<integer>822447993</integer>
		<integer>822678040</integer>
		<integer>822713667</integer>
		<integer>822838021</integer>
		<integer>822872408</integer>
		<integer>822922977</integer>
		<integer>823071109</integer>
		<integer>823182795</integer>
		<integer>823278508</integer>
		<integer>823445822</integer>
		<integer>823611416</integer>
		<integer>823680791</integer>
		<integer>823779486</integer>
		<integer>823933185</integer>
		<integer>823951699</integer>
		<integer>823970634</integer>
		<integer>824103447</integer>
		<integer>824279648</integer>
		<integer>824481924</integer>
		<integer>824692620</integer>
		<integer>825154380</integer>
		<integer>825343711</integer>
		<integer>825534493</integer>
		<integer>825630728</integer>
		<integer>825668060</integer>
		<integer>825793368</integer>
		<integer>825961696</integer>
		<integer>826088625</integer>
		<integer>826252209</integer>
		<integer>826449068</integer>
		<integer>826595184</integer>
		<integer>826769299</integer>
		<integer>826933172</integer>
		<integer>827214087</integer>
		<integer>827392584</integer>
		<integer>827565567</integer>
		<integer>827724476</integer>
		<integer>827880169</integer>
		<integer>828038633</integer>
		<integer>828061475</integer>
		<integer>828215760</integer>
		<integer>828353598</integer>
		<integer>828513871</integer>
		<integer>828686359</integer>
		<integer>828703197</integer>
		<integer>828837214</integer>
		<integer>828859179</integer>
		<integer>828999783</integer>
		<integer>829166846</integer>
		<integer>829329334</integer>
		<integer>829485432</integer>
		<integer>829656550</integer>
		<integer>829795771</integer>
		<integer>829929983</integer>
		<integer>830096861</integer>
		<integer>830240578</integer>
		<integer>830394357</integer>
		<integer>830416437</integer>
		<integer>830553200</integer>
		<integer>830717656</integer>
		<integer>830886626</integer>
		<integer>831048561</integer>
		<integer>831192112</integer>
		<integer>831340647</integer>
		<integer>831521332</integer>
		<integer>831679264</integer>
		<integer>831714765</integer>
		<integer>831840321</integer>
		<integer>831998014</integer>
		<integer>832165020</integer>
		<integer>832270526</integer>
		<integer>832332285</integer>
		<integer>832504219</integer>
		<integer>832542141</integer>
		<integer>832686063</integer>
		<integer>832866212</integer>
		<integer>832925258</integer>
		<integer>833063413</integer>
		<integer>833240188</integer>
		<integer>833267214</integer>
		<integer>833439962</integer>
		<integer>833657102</integer>
		<integer>833708481</integer>
		<integer>833859564</integer>
		<integer>833874418</integer>
		<integer>834035305</integer>
		<integer>834309526</integer>
		<integer>834486406</integer>
		<integer>834502722</integer>
		<integer>834645622</integer>
		<integer>834646000</integer>
		<integer>834833141</integer>
		<integer>834909381</integer>
		<integer>835020474</integer>
		<integer>835201870</integer>
		<integer>835404322</integer>
		<integer>835594412</integer>
		<integer>835621186</integer>
		<integer>835757223</integer>
		<integer>835980229</integer>
		<integer>836090071</integer>
		<integer>836199947</integer>
		<integer>836396649</integer>
		<integer>836600951</integer>
		<integer>836806563</integer>
		<integer>837278016</integer>
		<integer>837337992</integer>
		<integer>837661273</integer>
		<integer>837859961</integer>
		<integer>837964494</integer>
		<integer>838068359</integer>
		<integer>838254188</integer>
		<integer>838460358</integer>
		<integer>839126385</integer>
		<integer>839408659</integer>
		<integer>839619575</integer>
		<integer>839990242</integer>
		<integer>840148965</integer>
		<integer>840380196</integer>
		<integer>840560169</integer>
		<integer>840770058</integer>
		<integer>840981520</integer>
		<integer>841233508</integer>
		<integer>842031862</integer>
		<integer>842222792</integer>
		<integer>842830630</integer>
		<integer>843247568</integer>
		<integer>843483348</integer>
		<integer>843714502</integer>
		<integer>843810982</integer>
		<integer>843954428</integer>
		<integer>844432697</integer>
		<integer>844719423</integer>
		<integer>845031094</integer>
		<integer>845313712</integer>
		<integer>845608434</integer>
		<integer>845883659</integer>
		<integer>845987724</integer>
		<integer>846474763</integer>
		<integer>846789775</integer>
		<integer>847049149</integer>
		<integer>847528633</integer>
		<integer>847808968</integer>
		<integer>848078267</integer>
		<integer>848373810</integer>
		<integer>849538630</integer>
		<integer>851376263</integer>
	</array>
	<key>userName</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>vendorId</key>
	<integer>460734</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
