{"name":"walter-picks-mobile-app","slug":"walter-picks-mobile-app","platforms":["ios","android","web"],"version":"1.2.0","orientation":"portrait","icon":"./assets/images/icon.png","scheme":"walterpicks","splash":{"image":"./assets/images/splash.png","resizeMode":"cover","backgroundColor":"#000DFF"},"updates":{"fallbackToCacheTimeout":10000,"enabled":true,"checkAutomatically":"ON_LOAD"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.walterpicks.picksapp","buildNumber":"36"},"android":{"package":"com.walterpicks.picksapp","versionCode":1},"web":{"favicon":"./assets/images/favicon.png"},"entryPoint":"node_modules/expo/AppEntry.js","sdkVersion":"44.0.0","currentFullName":"@anonymous/walter-picks-mobile-app","originalFullName":"@anonymous/walter-picks-mobile-app"}