<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>artistId</key>
	<integer>389781157</integer>
	<key>artistName</key>
	<string>NFL Enterprises LLC</string>
	<key>bundleDisplayName</key>
	<string>NFL Fantasy</string>
	<key>bundleShortVersionString</key>
	<string>3.57.12</string>
	<key>bundleVersion</key>
	<string>14434</string>
	<key>copyright</key>
	<string>© 2021 NFL Enterprises LLC</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Sports</string>
	<key>genreId</key>
	<integer>6004</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>itemId</key>
	<integer>876054082</integer>
	<key>itemName</key>
	<string>NFL Fantasy Football</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>NFL Enterprises LLC</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.TRUE_GAMBLING , Advisory.NO.GAMBLING_CONTESTS and Advisory.NO.UNRESTRICTED_WEB_ACCESS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2014-05-16T06:18:12Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is2-ssl.mzstatic.com/image/thumb/Purple122/v4/f5/9c/a6/f59ca673-2297-da70-afd4-7a6041a9853a/AppIcon-release-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.nfl.fantasy.core</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>851691231</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>582455971</integer>
		<integer>607083014</integer>
		<integer>623272700</integer>
		<integer>656332810</integer>
		<integer>668302729</integer>
		<integer>690824736</integer>
		<integer>707762811</integer>
		<integer>742043021</integer>
		<integer>807022691</integer>
		<integer>811400046</integer>
		<integer>812306450</integer>
		<integer>812653172</integer>
		<integer>812879948</integer>
		<integer>813048079</integer>
		<integer>813176778</integer>
		<integer>813450028</integer>
		<integer>816084995</integer>
		<integer>816856685</integer>
		<integer>818214763</integer>
		<integer>818357382</integer>
		<integer>818609135</integer>
		<integer>818656564</integer>
		<integer>818730224</integer>
		<integer>818760983</integer>
		<integer>818798094</integer>
		<integer>818852219</integer>
		<integer>819185444</integer>
		<integer>819584587</integer>
		<integer>819632896</integer>
		<integer>819665060</integer>
		<integer>820238898</integer>
		<integer>820689168</integer>
		<integer>821533777</integer>
		<integer>822070996</integer>
		<integer>822540214</integer>
		<integer>822616291</integer>
		<integer>822760615</integer>
		<integer>822965478</integer>
		<integer>823218461</integer>
		<integer>823279783</integer>
		<integer>823343878</integer>
		<integer>823564330</integer>
		<integer>823610870</integer>
		<integer>823635937</integer>
		<integer>823705909</integer>
		<integer>823820501</integer>
		<integer>824130277</integer>
		<integer>824264757</integer>
		<integer>824320137</integer>
		<integer>825229245</integer>
		<integer>825328891</integer>
		<integer>826756273</integer>
		<integer>826866346</integer>
		<integer>826956492</integer>
		<integer>827080429</integer>
		<integer>827216669</integer>
		<integer>827268237</integer>
		<integer>827580612</integer>
		<integer>827958900</integer>
		<integer>828116724</integer>
		<integer>828166052</integer>
		<integer>828217892</integer>
		<integer>828339252</integer>
		<integer>828388108</integer>
		<integer>828513532</integer>
		<integer>828626050</integer>
		<integer>828719777</integer>
		<integer>828886333</integer>
		<integer>829216452</integer>
		<integer>829571233</integer>
		<integer>829681895</integer>
		<integer>831182666</integer>
		<integer>831256518</integer>
		<integer>831273132</integer>
		<integer>831357671</integer>
		<integer>831364961</integer>
		<integer>831426004</integer>
		<integer>831491690</integer>
		<integer>831559068</integer>
		<integer>831679798</integer>
		<integer>831780258</integer>
		<integer>832004017</integer>
		<integer>832081969</integer>
		<integer>832122417</integer>
		<integer>832169800</integer>
		<integer>832274126</integer>
		<integer>832359636</integer>
		<integer>832446190</integer>
		<integer>832490619</integer>
		<integer>832533788</integer>
		<integer>832578515</integer>
		<integer>832712474</integer>
		<integer>832762498</integer>
		<integer>832798425</integer>
		<integer>832865787</integer>
		<integer>832943420</integer>
		<integer>832991111</integer>
		<integer>833017653</integer>
		<integer>833222563</integer>
		<integer>833240795</integer>
		<integer>833351502</integer>
		<integer>833439717</integer>
		<integer>833535945</integer>
		<integer>833631113</integer>
		<integer>833711300</integer>
		<integer>833788793</integer>
		<integer>833917929</integer>
		<integer>834006258</integer>
		<integer>834337633</integer>
		<integer>835777073</integer>
		<integer>835785392</integer>
		<integer>835860101</integer>
		<integer>835978894</integer>
		<integer>836092117</integer>
		<integer>836396232</integer>
		<integer>836423878</integer>
		<integer>836587308</integer>
		<integer>836655050</integer>
		<integer>836801575</integer>
		<integer>836847268</integer>
		<integer>836882131</integer>
		<integer>837031511</integer>
		<integer>837184704</integer>
		<integer>837211691</integer>
		<integer>837280289</integer>
		<integer>837323339</integer>
		<integer>837376766</integer>
		<integer>837403077</integer>
		<integer>837468425</integer>
		<integer>837499528</integer>
		<integer>837549594</integer>
		<integer>837644458</integer>
		<integer>837784996</integer>
		<integer>837842760</integer>
		<integer>837894722</integer>
		<integer>837964832</integer>
		<integer>838067589</integer>
		<integer>838087180</integer>
		<integer>838148198</integer>
		<integer>838177928</integer>
		<integer>838255042</integer>
		<integer>838357532</integer>
		<integer>838364558</integer>
		<integer>838442626</integer>
		<integer>838525137</integer>
		<integer>838540959</integer>
		<integer>838717164</integer>
		<integer>839113016</integer>
		<integer>839309929</integer>
		<integer>839375788</integer>
		<integer>839520053</integer>
		<integer>839616952</integer>
		<integer>839626813</integer>
		<integer>839673332</integer>
		<integer>839731244</integer>
		<integer>839948371</integer>
		<integer>840062350</integer>
		<integer>841121496</integer>
		<integer>841492969</integer>
		<integer>842121096</integer>
		<integer>842327715</integer>
		<integer>842410145</integer>
		<integer>843014671</integer>
		<integer>843169263</integer>
		<integer>843211499</integer>
		<integer>843362497</integer>
		<integer>843439838</integer>
		<integer>843542516</integer>
		<integer>843655665</integer>
		<integer>843769120</integer>
		<integer>843932212</integer>
		<integer>844026096</integer>
		<integer>844099728</integer>
		<integer>844179195</integer>
		<integer>844249264</integer>
		<integer>844345049</integer>
		<integer>844361449</integer>
		<integer>844497849</integer>
		<integer>844566755</integer>
		<integer>844669076</integer>
		<integer>844717265</integer>
		<integer>845030481</integer>
		<integer>845171947</integer>
		<integer>845267053</integer>
		<integer>845429550</integer>
		<integer>846045944</integer>
		<integer>846102704</integer>
		<integer>846527628</integer>
		<integer>846786141</integer>
		<integer>846914116</integer>
		<integer>846917500</integer>
		<integer>847378556</integer>
		<integer>847527918</integer>
		<integer>848372315</integer>
		<integer>848765237</integer>
		<integer>849072631</integer>
		<integer>849713523</integer>
		<integer>850216103</integer>
		<integer>850798395</integer>
		<integer>850850838</integer>
		<integer>850986656</integer>
		<integer>851213016</integer>
		<integer>851322856</integer>
		<integer>851457984</integer>
		<integer>851535502</integer>
		<integer>851691231</integer>
	</array>
	<key>userName</key>
	<string>monash.smat.mac@gmail.com</string>
	<key>vendorId</key>
	<integer>428658</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
